body {
  background-color: rgba(0, 0, 0, 0.733);
}

.form {
  background-color: rgba(255, 255, 255, 0.692);
  width: 100%;
max-width: 20%;
border-radius: 5px;
border: 3px solid #fff;
padding: 10px;

}

.form-group-title {
border:none;
font-size: large;
}

.form-group{
    border: none;
}

.form-title {
  border: none;
  width: 100%;
  display: block;
  padding: 10px;
}

.label {
  display: block;
  width: 100%;
}

.input{
    border-radius: 5px;
    width: 80%;
}


.textarea{
resize: vertical;
max-height: 200px;
width: 80%;
min-height: 20px;
}

.button{
    cursor:pointer;
}
