.footer {
  padding: 60px 0 40px;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(73, 169, 255, 0.2)),
    to(rgba(252, 124, 217, 0.2))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  text-align: center;
  margin-top: auto;
}

.footer-top{
padding-bottom: 40px;
margin-bottom: 40px;
border-bottom: 1px solid #d3cbd9;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color:  #535755;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
 -webkit-transition: color 0.2s;
 -o-transition: color 0.2s;
 transition: color 0.2s;
}

.menu a:hover{
color: #3569ed;
}

.copyright{
font-size: 14px;
font-weight: 400;
letter-spacing: 4%;
color: #858e8a;
}

@media  (width <= 768px){
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}

@media (width <= 576px){
  .footer{
    padding-top: 40px;
  }
}