html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
button {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin-bottom: 140px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.button {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  background-color: #3596ed;
  padding: 19px 32px;
  line-height: 130%;
  letter-spacing: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition:
    opacity 0.2s,
    background-color 0.2s;
  -o-transition:
    opacity 0.2s,
    background-color 0.2s;
  transition:
    opacity 0.2s,
    background-color 0.2s;
  text-decoration: none;
}

.hero .text {
  margin-bottom: 140px;
}

.button:disabled {
  opacity: 0.65;
  cursor: default;
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled):active {
  background-color: #2d7dc4;
}

.title-large {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.title-medium {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 115%;
  font-size: 24px;
  text-transform: uppercase;
  color: #2c332f;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

.decor::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(50% - 250px);
  height: 48px;
  background: url("../images/decor-icon.svg") repeat-x;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

a:active {
  color: #3188d4;
}

@media (width <= 992px) {
  .container {
    max-width: 768px;
  }
}

@media (width <= 768px) {
  .hero h1 {
    font-size: 50px;
  }

  .news-article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 400px;
  }

  .title-large {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .home-page .title-large {
    text-align: center;
    max-width: inherit;
  }

  .title-medium {
    font-size: 22px;
  }
}

@media (width <= 576px) {
  .section {
    margin-bottom: 80px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 32px;
  }
}