.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
  gap: 10px;
}

.phone {
  text-align: right;
}

.phone-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: black;
}

.phone a {
  font-weight: 500px;
  font-size: 18px;
  color: black;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.phone a:hover {
  color: #3569ed;
}
