.footer {
  padding: 60px 0 40px;
  background-image: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  text-align: center;
  margin-top: auto;
}

.footer-top{
padding-bottom: 40px;
margin-bottom: 40px;
border-bottom: 1px solid #d3cbd9;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color:  #535755;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
 transition: color 0.2s;
}

.menu a:hover{
color: #3569ed;
}

.copyright{
font-size: 14px;
font-weight: 400;
letter-spacing: 4%;
color: #858e8a;
}
