html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  color: #535755;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.button {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  background-color: #3596ed;
  padding: 19px 32px;
  line-height: 130%;
  letter-spacing: 2%;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  transition: opacity 0.2s;
  text-decoration: none;
}

.hero .text {
  margin-bottom: 140px;
}

.button:hover {
  opacity: 0.75;
}

.title-large {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.text-sub {
  color: #858e8a;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4%;
  text-transform: uppercase;
}
