body {
  font-family: sans-serif;
  background-color: rgba(228, 221, 212, 0.445);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  border: 1px solid #333;
  border-radius: 6px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: rgb(248, 229, 204);
}

.form-group {
  border: none;
  padding: 0;
}

.form-group-title {
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.textarea {
  max-height: 150px;
  min-height: 30px;
  resize: vertical;
}

.input,
.textarea {
  border: 1px solid #333;
  border-radius: 6px;
  width: 90%;
  padding: 5px 12px;
  margin-bottom: 20px;
  outline: none;
}

.input:disabled,
textarea:disabled {
  opacity: 0.7;
}

.checkbox-label {
  padding-left: 22px;
}

.checkbox {
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox:after {
  position: absolute;
  cursor: pointer;
  content: "";
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border-radius: 4px;
  border: 1px solid #333;
}

.checkbox:checked::after{
  background: url(../images/check-icon.svg) no-repeat center, #7d2acb;
}

.checkbox-text {
  font-size: 14px;
}


.button {
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  transition: opacity 0.2s;
  cursor: pointer;
  color: aliceblue;
  background-color: #7d2acb;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  background-color: rgba(137, 43, 226, 0.63);
}

.button:disabled,
.checkbox:disabled::after {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus-visible,
.textarea:focus-visible,
.checkbox:focus-visible:after,
.button:focus-visible {
  outline: 2px solid #a01bac;
  outline-offset: 1px;
}
