body {
    font-family: sans-serif;
}

.container{
    max-height: 300px;
    height: 100%;
    margin: 10px 100px 20px 100px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block{
    background-color: black;
    width: 60px;
    height: 60px;
}

.header-nav{
display: flex;
gap: 30px;
}

.nav-link{
    color: black;
}

